[Desktop Entry]
Comment=KDE frontend to Gentoo portage
Comment[en_US]=KDE frontend to Gentoo portage
Encoding=UTF-8
Exec=kdesu -t -d --nonewdcop -u root -c kuroo8 -caption "%c" %i %m
GenericName=
GenericName[en_US]=
Icon=kuroo
MimeType=
Name=Kuroo8
Name[en_US]=Kuroo8
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DCOP-ServiceType=Unique
X-KDE-SubstituteUID=false
X-KDE-Username=Kuroo8
