[Desktop Entry]
Comment=KDE Gentoo Portage Watcher
Comment[en_US]=KDE Gentoo Portage Watcher
Encoding=UTF-8
Exec=kuroo_watcher --option start
GenericName=
GenericName[en_US]=
Icon=kuroo_watcher
MimeType=
Name=Gentoo Watcher
Name[en_US]=Gentoo Watcher
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=Unique
X-KDE-SubstituteUID=false
X-KDE-Username=Gentoo Watcher
X-KDE-autostart-after=panel
X-KDE-autostart-condition=kuroo_watcher:General:AutoStart:true
