[Desktop Entry]
GenericName=KDE browser to Gentoo portage
Icon=kuroo
Encoding=UTF-8
Name=Kuroolito
Name[xx]=xxKuroolitoxx
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkuroolitopart
Type=Service

