[Desktop Entry]
Comment=KDE frontend to Gentoo portage
Comment[en_US]=KDE frontend to Gentoo portage
Comment[nb]=KDE-grensesnitt for Gentoo Portage
Encoding=UTF-8
Exec=kuroolito -caption "%c" %i %m
GenericName=KDE frontend to Gentoo portage
GenericName[en_US]=KDE frontend to Gentoo portage
GenericName[nb]=KDE-grensesnitt for Gentoo Portage
Icon=kuroolito
MimeType=
Name=Kuroolitolito
Name[en_US]=Kuroolitolito
Path=
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=Kuroolitolito
