<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KuroolitoPart" library="libkuroolitopart" version="1">
<MenuBar>
	<Menu name="Tools">
		<text>&amp;Portage</text>
		<Action name="refresh_portage" />
		<Action name="refresh_updates" />
	</Menu>
	<Menu name="help">
		<Action name="information" />
	</Menu>
</MenuBar>
</kpartgui>
