[Desktop Entry]
GenericName=KDE browser to Gentoo portage
Icon=kuroo
Encoding=UTF-8
Name=Kuroolito
Name[xx]=xxKuroolitoxx
Type=Link
Open=false
X-KDE-KonqSidebarAddModule=libkuroolitopart
X-KDE-KonqSidebarUniversal=true
